<a href="https://colab.research.google.com/github/sidsharma1210/PYTHON/blob/main/Python_operators_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Operators Practice Notebook

Each question is followed by its solution in the next code cell.
Difficulty level: Easy to Medium.

## Arithmetic Operators

Q1. Add two numbers a = 10 and b = 5.

In [ ]:
a=10
b=5
print(a+b)

15

Q2. Find the remainder when 17 is divided by 4.

In [ ]:
a=17
b=4
print(a%b)

1

Q3. Calculate 3 raised to the power 4.

In [ ]:
a=3
b=4
print(a**b)

81

## Assignment Operators

Q4. Assign 10 to x and add 5 to it using assignment operator.

In [ ]:
x=10
x+=5
print(x)

15

Q5. Assign 20 to y and multiply it by 2 using assignment operator.

In [ ]:
y = 20
y *= 2
print(y)

40

Q6. Assign 15 to z and subtract 7 using assignment operator.

In [ ]:
z = 15
z -= 7
print(z)

8

## Comparison Operators

Q7. Check if 10 is greater than 5.

In [ ]:
10>5

True

Q8. Check if 7 is equal to 9.

In [ ]:
7==9

False

Q9. Check if 8 is not equal to 3.

In [ ]:
8!=3

True

## Logical Operators

Q10. Check if 5 > 2 and 10 > 3.

In [ ]:
5 > 2 and 10 > 3

True

Q11. Check if 5 > 10 or 3 < 7.

In [ ]:
5 > 10 or 3 < 7

True

Q12. Use not operator on condition 10 > 5.

In [ ]:
a =10 > 5
print(not a )

False

## Identity Operators

Q16. Check if a and b refer to the same object.
Let a = 10, b = 10.

In [ ]:
a =10
b = 10
a ==b

True

Q18. Compare identity of two variables c and d where c = d = 5.

In [ ]:
c= d = 5
print(c is d)

True

## Membership Operators

Q19. Check if 3 is present in the list [1,2,3,4].

In [ ]:
x,y,z,a = [1,2,3,4]
x==3 or y==3 or z==3 or a==3

True

Q20. Check if 'a' is not present in the string 'python'.

In [ ]:
s = "python"
print('a' in s)

False

Q21. Check if 10 is in the tuple (5, 10, 15).

In [ ]:
a = (5,10,15)
print(10 in a)

True